<a *ngIf="item && item.images && item.images.length > 0 && item.title && item.price && item.id"
    [matTooltip]="item.description | tooltipDescription" [routerLink]="['/Item/Details/' + item.id]" class="item">
    <div class="item-image" [ngStyle]="{ 'background-image' : 'url(' + item.images[0] + ')' }"></div>

    <div class="item-info">
        <span class="item-info-title">{{item?.title?.length > 50 ? ((item?.title | slice: 0: 50) + '...') : item?.title}}</span>
        
        <span *ngIf="item.price !== item.originalPrice" class="item-info-old-price">${{item.originalPrice}}</span>

        <span class="item-info-price">${{item.price}}</span>
    </div>
</a>