<div class="header">
    <a class="header-logo" [routerLink]="['/']">Online Shop</a>

    <div class="header-search">
        <div class="header-search-input-wrapper">
            <input [(ngModel)]="searchKeyword" (keyup.enter)="search()" placeholder="Search..."/>

            <a (click)="search()"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </div>

    <ul class="header-nav">
        <li *ngIf="userType != enumUserRole.ADMINISTRATOR && userType != enumUserRole.MODERATOR">
            <a [routerLink]="['/Cart']">
                <i class="fa-solid fa-cart-shopping"></i>
                <span [matBadge]="cartNumber" matBadgeOverlap="false" class="icon-text">My cart</span>
            </a>
        </li>

        <li *ngIf="userType == enumUserRole.ADMINISTRATOR || userType == enumUserRole.MODERATOR">
            <a [routerLink]="['/New']">
                <i class="fa-solid fa-circle-plus"></i>
                <span class="icon-text">Add New</span>
            </a>
        </li>

        <li *ngIf="userId">
            <a [routerLink]="['/Profile']">
                <i class="fa-solid fa-user"></i>
                <span class="icon-text">Profile</span>
            </a>
        </li>
        <li *ngIf="!userId">
            <a [routerLink]="['/Login']">
               <span>Log in</span>
            </a>
        </li>
        <li *ngIf="userId">
            <a (click)="logout()">
               <span>Log out</span>
            </a>
        </li>
    </ul>
</div>