<div class="header">
    <a class="header-logo" [routerLink]="['/']">Online Shop</a>

    <div class="header-search">
        <div class="header-search-input-wrapper">
            <input [(ngModel)]="searchKeyword" (keyup.enter)="search()" placeholder="Search..."/>

            <a (click)="search()"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </div>

    <ul class="header-nav">
        <li *ngIf="userType != enumUserRole.ADMINISTRATOR && userType != enumUserRole.MODERATOR">
            <a [routerLink]="['/Cart']">
                <i class="fa-solid fa-cart-shopping"></i>
                <span [matBadge]="cartNumber" matBadgeOverlap="false">My cart</span>
            </a>
        </li>
        <li>
            <a *ngIf="userId" [routerLink]="['/Profile']">
                <i class="fa-solid fa-user"></i>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a *ngIf="!userId" [routerLink]="['/Login']">
               <span>Log in</span>
            </a>
        </li>
        <li>
            <a *ngIf="userId" (click)="logout()">
               <span>Log out</span>
            </a>
        </li>
    </ul>
</div>