<div class="wrapper">
    <div class="item-details" *ngIf="item">
        <div class="item-details-panel item-details-top">
            <div class="item-details-images" *ngIf="item.images && item.images.length > 0" [ngStyle]="{'background-image' : 'url(' + item.images[0] + ')'}"></div>
        </div>
    
        <div class="item-details-info item-details-panel">
            <a [routerLink]="['/List']" [queryParams]="{storeId: item.store?.value}" class="item-details-info-store">{{item.store?.text}}</a>
            <span class="item-details-info-title">{{item.title}}</span>
            <span *ngIf="item.price !== item.originalPrice" class="item-details-info-old-price">${{item.originalPrice}}</span>
            <span class="item-details-info-price">${{item.price}}</span>
    
            <a (click)="addToCart(item.id)" class="item-details-info-buy-btn">Add to cart</a>
    
            <div class="item-details-info-description">
                <span class="item-details-info-description-title">Description</span>
                <span [innerHTML]="item?.description"></span>
            </div>
        </div>
    </div>
</div>

<a *ngIf="userType != null && userType != undefined" class="edit" (click)="openEditItem()"><i class="fa-solid fa-pen"></i></a>

<div *ngIf="userType != null && userType != undefined && editItem" class="dark">
    <div [formGroup]="editForm" class="edit-item">
        <h4>Edit Item</h4>

        <mat-form-field appearance="fill" style="width: 500px">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Title" required>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 500px">
            <mat-label>Description</mat-label>
            <textarea matInput rows="8" formControlName="description" placeholder="Description" required></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 500px">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" placeholder="Price" required>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 500px">
            <mat-label>Sale</mat-label>
            <mat-select formControlName="saleId">
                <mat-option *ngFor="let sale of sales" [value]="sale?.id"> {{sale?.startDate + ' - ' + sale?.endDate + ' ('+ sale?.salePercentage +'%)'}} </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 500px">
            <mat-label>Store</mat-label>
            <mat-select formControlName="storeId">
                <mat-option *ngFor="let store of stores" [value]="store?.id"> {{store?.name}} </mat-option>
              </mat-select>
        </mat-form-field>

        <div>
            <button (click)="deleteItem()" style="margin-right: 10px" mat-raised-button class="danger-btn">Delete</button>

            <button (click)="closeDark()" style="margin-right: 10px" mat-raised-button class="active-btn">Cancel</button>

            <button (click)="updateItem()" mat-raised-button class="active-btn">Update</button>
        </div>
    </div>
</div>